# Operating system temporary files
.DS_Store

# Editor/IDE specific settings
.idea
.vscode/

# Temporary output of build tools
bazel-*
*.out
coverage.txt

vendor

pkg/openapi/openapi_generated.go.old

# Binary files
cmd/build-init/build/build-init
cmd/build-waiter/build/build-waiter
cmd/completion/build/completion
cmd/controller/build/controller
cmd/rebase/build/rebase
cmd/webhook/build/webhook
